/* PHASE 2: Navigation */

.header-logo {
  float: left;
  font-weight: bold;
  border-right: solid 1px #eee;
}

.header-logo:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  border-left: solid 1px #eee;
}

.header-list > li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
